@use 'variables';

.carousel{
    margin:auto;
    height: 300px;
    width:100%;
    overflow:hidden;
    position:relative;
    .carousel-slide{
        display:flex;
        height:300px;
        // transform:translateX(-100%);
        }
    img{
        object-fit: cover;
        min-width:100%;
     }
     button{
         position:absolute;
         z-index:1;
         background-color:white;
         top:50%;
         transform:translateY(-50%);
         width:40px;
         height:40px;
         border-radius:50px;
         border:none;
         cursor:pointer;
         img{
             position:absolute;
             min-width:0%;
             width:12px;
             top:50%;
             left:50%;
             transform:translate(-50%,-50%)
         }
     }
     #nextBtn{
         right:20px;
        }
        #prevBtn{
         left:20px;
     }
     .desktop-image-selector-container{
        display:none;    
    }
}