// COLOR

//Primary
$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);

// Secondary
$dark-blue: hsl(220, 13%, 13%);
$dark-grey-blue: hsl(219, 9%, 45%);
$grey-blue: hsl(220, 14%, 75%);
$light-grey-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// TYPOGRAPHY
$paragraph-size: 16px;
$font: 'Kumbh Sans', sans-serif;