* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  font-family: "Kumbh Sans", sans-serif;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
}
nav .nav-left-container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .nav-left-container #burger {
  margin: 0rem 1rem 0rem 1rem;
}
nav .nav-right-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
nav #avatar {
  width: 30px;
  margin: 0rem 1rem 0rem 1rem;
}
nav #burger {
  cursor: pointer;
}

.nav-links {
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 0px;
  height: 100vh;
  background-color: white;
  transition: 0.5s ease-in-out;
  transform: translateX(-100%);
}
.nav-links img {
  margin-left: 40px;
  margin-top: 20px;
}
.nav-links ul {
  height: 300px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
}
.nav-links li {
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.nav-links #menu-close {
  cursor: pointer;
}

.nav-links.active {
  transform: translateX(0%);
}

.carousel {
  width: 100%;
  margin: auto;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.carousel .carousel-slide {
  display: flex;
  width: 100%;
  height: 300px;
}
.carousel img {
  object-fit: cover;
  min-width: 100%;
}
.carousel button {
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.carousel button img {
  position: absolute;
  min-width: 0%;
  width: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel #nextBtn {
  right: 20px;
}
.carousel #prevBtn {
  left: 20px;
}

.description {
  height: 530px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
.description h4 {
  color: #ff7d1a;
  font-family: "Kumbh Sans", sans-serif;
}
.description h1 {
  margin-top: 10px;
}
.description p {
  color: #68707d;
  margin: 1em 0em 1em 0em;
  line-height: 25px;
}
.description .prices-container {
  display: flex;
  align-items: center;
}
.description .price {
  margin-top: 0px;
}
.description .discount-percentage {
  background-color: #ffede0;
  height: 25px;
  width: 45px;
  border-radius: 5px;
  margin-left: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.description .discount-percentage p {
  color: #ff7d1a;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
.description .old-price {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
  text-decoration-line: line-through;
  color: #b6bcc8;
}

.item-counter {
  background-color: #f7f8fd;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
.item-counter p {
  font-weight: bold;
  color: black;
}
.item-counter img {
  width: 15px;
}

.add-to-cart-container {
  width: 100%;
  margin-top: 15px;
  background-color: #ff7d1a;
  height: 60px;
  border-radius: 15px;
  box-shadow: 2px 10px 20px #ff7d1a45;
}
.add-to-cart-container img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(22%) hue-rotate(120deg) brightness(104%) contrast(100%);
}
.add-to-cart-container p {
  color: white;
  font-weight: bold;
}

.add-to-cart-icons {
  display: flex;
  margin: auto;
  width: 130px;
  justify-content: space-around;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
