* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  font-family: "Kumbh Sans", sans-serif;
}

.not-visible {
  opacity: 0;
  visibility: hidden;
}

.not-active {
  display: none !important;
}

.content-container {
  display: flex;
  flex-direction: column;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
}
nav .nav-left-container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .nav-left-container #burger {
  margin: 0rem 1rem 0rem 1rem;
}
nav .nav-right-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
nav #avatar {
  width: 30px;
  margin: 0rem 1rem 0rem 1rem;
}
nav #burger {
  cursor: pointer;
}
nav .icon-cart-container {
  position: relative;
}
nav .icon-cart-container .icon-cart-number {
  position: absolute;
  top: -6px;
  right: -12px;
  width: 20px;
  height: 14px;
  background-color: #ff7d1a;
  z-index: 20;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .icon-cart-container .icon-cart-number p {
  color: white;
  font-size: 8px;
  font-weight: bold;
}

.nav-links {
  width: 250px;
  position: absolute;
  z-index: 10;
  top: 0px;
  height: 100vh;
  background-color: white;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}
.nav-links img {
  margin-left: 40px;
  margin-top: 20px;
}
.nav-links ul {
  height: 300px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
}
.nav-links li {
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.nav-links #menu-close {
  cursor: pointer;
}

.nav-links.active {
  transform: translateX(0%);
}

.carousel {
  margin: auto;
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel .carousel-slide {
  display: flex;
  height: 300px;
}
.carousel img {
  object-fit: cover;
  min-width: 100%;
}
.carousel button {
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
.carousel button img {
  position: absolute;
  min-width: 0%;
  width: 12px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel #nextBtn {
  right: 20px;
}
.carousel #prevBtn {
  left: 20px;
}
.carousel .desktop-image-selector-container {
  display: none;
}
.carousel .desktop-image-selector-container .desktop-image-selector {
  border-radius: 10px;
  margin-top: 20px;
  width: 90px;
  height: 90px;
  background-size: contain;
  position: relative;
}
.carousel .desktop-image-selector-container .desktop-image-selector:hover {
  border: 2px #ff7d1a solid;
}
.carousel .desktop-image-selector-container .desktop-image-selector:hover:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.carousel .desktop-image-selector-container .desktop-image-selector.image-1 {
  background-image: url("../../images/image-product-1-thumbnail.jpg");
}
.carousel .desktop-image-selector-container .desktop-image-selector.image-2 {
  background-image: url("../../images/image-product-2-thumbnail.jpg");
}
.carousel .desktop-image-selector-container .desktop-image-selector.image-3 {
  background-image: url("../../images/image-product-3-thumbnail.jpg");
}
.carousel .desktop-image-selector-container .desktop-image-selector.image-4 {
  background-image: url("../../images/image-product-4-thumbnail.jpg");
}

#icon-cart {
  cursor: pointer;
}

.cart {
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  height: 260px;
  top: 80px;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.315);
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.cart-title-container {
  border-bottom: 1px solid #b6bcc842;
  height: 60px;
  display: flex;
  align-items: center;
}
.cart-title-container p {
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-left: 25px;
}

.cart-content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;
  height: 200px;
}
.cart-content-container p {
  font-weight: bold;
  color: #b6bcc8;
}
.cart-content-container .cart-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.cart-image {
  width: 50px;
  border-radius: 5px;
}

.cart-text {
  padding-right: 30px;
}
.cart-text p {
  font-weight: lighter;
  color: #68707d;
}
.cart-text p b {
  color: black;
  font-weight: bold;
  padding-left: 10px;
}

.cart-delete {
  width: 20px;
  cursor: pointer;
}

.cart-checkout-button {
  background-color: #ff7d1a;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  transition: transform 0.1s ease-in;
}
.cart-checkout-button p {
  color: white;
  font-size: 17px;
}
.cart-checkout-button:hover {
  transform: translateY(-5px);
}

.description {
  height: 530px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
.description h4 {
  color: #ff7d1a;
  font-family: "Kumbh Sans", sans-serif;
}
.description h1 {
  margin-top: 10px;
}
.description p {
  color: #68707d;
  margin: 1em 0em 1em 0em;
  line-height: 25px;
}
.description .prices-container {
  display: flex;
  align-items: center;
}
.description .price {
  margin-top: 0px;
}
.description .discount-percentage {
  background-color: #ffede0;
  height: 25px;
  width: 45px;
  border-radius: 5px;
  margin-left: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.description .discount-percentage p {
  color: #ff7d1a;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
.description .old-price {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
  text-decoration-line: line-through;
  color: #b6bcc8;
}

.cta-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-counter {
  background-color: #f7f8fd;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
.item-counter p {
  font-weight: bold;
  color: black;
}
.item-counter img {
  width: 15px;
  cursor: pointer;
}

.add-to-cart-container {
  width: 100%;
  margin-top: 15px;
  background-color: #ff7d1a;
  height: 60px;
  border-radius: 15px;
  box-shadow: 2px 10px 20px #ff7d1a45;
  cursor: pointer;
}
.add-to-cart-container img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(22%) hue-rotate(120deg) brightness(104%) contrast(100%);
}
.add-to-cart-container p {
  color: white;
  font-weight: bold;
}
.add-to-cart-container:hover {
  transform: translateY(-10px);
  transition: 0.25s ease-in-out;
}

.add-to-cart-icons {
  display: flex;
  margin: auto;
  width: 130px;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 1240px) {
  nav {
    margin: 0px 160px;
    height: 110px;
    border-bottom: 1px solid #b6bcc8;
  }
  nav #burger {
    display: none;
  }
  nav .nav-links {
    position: static;
    width: 40%;
    height: 100%;
    background-color: none;
  }
  nav .nav-links img {
    display: none;
  }
  nav .nav-links ul {
    height: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  nav .nav-links li {
    font-weight: 300;
    color: #b6bcc8;
  }
  nav .nav-right-container {
    width: 10vw;
    justify-content: space-around;
  }
  nav #avatar {
    width: 50px;
  }

  .content-container {
    flex-direction: row;
    margin: 70px 160px 50px 160px;
  }

  .carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .carousel .carousel-slide {
    width: 445px;
    height: 445px;
    overflow: hidden;
    border-radius: 10px;
    transform: none !important;
  }
  .carousel #prevBtn {
    display: none;
  }
  .carousel #nextBtn {
    display: none;
  }
  .carousel .desktop-image-selector-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 445px;
  }
  .carousel .desktop-image-selector-container img {
    width: 90px;
    min-width: auto;
    border-radius: 10px;
  }

  .description .item-text {
    margin-top: 2em;
  }

  .cta-container {
    flex-direction: row;
    gap: 20px;
    justify-content: left;
    margin-top: 20px;
  }

  .add-to-cart-container {
    margin: 0;
  }

  .item-counter {
    width: 220px;
  }

  .cart {
    z-index: 11;
    width: 400px;
    left: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
